@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    /* background: crimson; */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}
.navbar .logo a{ 
font-size: 35px;
font-weight: 600;
color: #fff;
}
.navbar .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: #fff;
    }
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color .5s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.navbar .menu .about-menu{
    font-size: 13px;
    display: none;   
    position: absolute;
    background-color: transparent;
    border-radius: 0 0 8px 8px;
    
}
.navbar .menu .contact{
    font-size: 13px;
    display: none;   
    position: absolute;
    background-color:transparent;
    border-radius: 0 0 8px 8px;
    
}
.navbar .menu li:hover .about-menu{ 
    display: block;   
}
.navbar .menu li:hover .contact{ 
    display: block;   
}
.navbar .menu .about-menu li {
    padding: 15px 0px;
    width: 140px; 
    text-align: left; 
}
.navbar .menu .contact li {
    padding: 15px 0px;
    width: 150px;  
}
.navbar .menu .about li a{
    
    transition: .5s ease-out;
}

.navbar .menu .about-menu li a:hover{
    font-size: 12px;
    text-decoration: underline;
}
.navbar .menu .contact li a{
    transition: .5s ease-in-out;
}
.navbar .menu .contact li a:hover{
    font-size: 12px;
    text-decoration: underline;
}
/* menu button styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor:pointer;
}

/*home section styling*/

.home{
    display: flex;
    background: url(./images/newbanner.jpg) no-repeat center;
   /* background-color: #f3f3f3;*/
    height: 100%;
    background-size: cover;
    /* margin-bottom: 20px; */
    
    height: 100vh;
    
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;

}

.home .home-content a {
    display: inline-block;
    background: transparent;
    color: #fff;
    border: 2px solid crimson;
    border-radius: 0px 0px 20px 0px;
    padding: 12px 29px;
    margin-top: 20px;
    font-size: 20px;
    transition: all .3s ease;
}
.home .home-content a:hover {
    color: crimson;
    font-size: 25px;
}
/* about section styling */


/* responsive media query start  */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}
/* 1100px */
@media (max-width: 1090px) {
    .max-width {
        padding:0 50px;
    }

/* } @media (max-width: 980px) { */
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content:"\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s eaase;
    }
    .navbar .menu.active {
        left: 0;

    }

    .navbar .menu li {
        display: block;

    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
            flex: 100%;
    }
}
/* styling about section */
section{
    padding: 20px 0;
}
.about, .services {
    font-family: 'Poppins', sans-serif;
}
/* section for about and services */
section .text {
    position: relative;
    text-align: left;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;

}
section .title {
    position:relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}   
section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    /* left:50%; */
    background: #111;
    transform: translateX(-50%);
}
section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color:crimson;
    background: #fff;
    transform: translateX(-50%);
}
.about .title::after 
    {

        content: "who i am";
    }
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    border: 2px solid crimson;
    border-radius: 0px 0px 20px 0px;
    padding: 12px 29px;
    font-weight: 600;
    margin-top: 20px;
    font-size: 20px;
    transition: all .3s ease;
}
.about .about-content .right a:hover {
    color: crimson;
    background: none;
    
}




.about {
    font-family: 'Poppins', sans-serif;
}
.about .title {
    position:relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}   
.about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    /* left:50%; */
    background: #111;
    transform: translateX(-50%);
}
.about .title::after {
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color:crimson;
    background: #fff;
    transform: translateX(-50%);
}
/* services section styling */
.services .title::after{
    content: 'what i have done';
    /* width: 200px; */

}
 .box .text a{
    color: green;
}